@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url(../font/OpenSans-Light.ttf) format('ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: url(../font/OpenSans-Regular.ttf) format('ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url(../font/OpenSans-Semibold.ttf) format('ttf');
}
core-scaffold /deep/ .w-100 {
    width: 100%;
}
core-scaffold /deep/ .h-100 {
    height: 100%;
}
core-scaffold /deep/ .smooth-trans {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix {
    clear: both;
}
core-scaffold {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
/* menu bar of the left panel */

core-toolbar {
    background-color: #F57C00;
}
/* content of the left panel */
/* title bar of the right panel */

.font-800 {
    font-weight: 800;
}
core-scaffold::shadow core-toolbar {
    background-color: #FF9800;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center center;
}
/* content of the right panel */

.menu-title {
    color: #FFE0B2;
}
.menu /deep/ core-icon, .user-nav /deep/ core-icon {
    fill: #ccc;
    margin: 0 16px 0 4px;
}
.menu paper-item, .user-nav paper-item, my-menu-button paper-item {
    padding-left: 10px;
    cursor: pointer;
    color: #666;
    height: 45px;
    line-height: 45px;
}
.menu paper-item.core-selected {
    background-color: #EEE;
    border-left: 2px solid #FB8C00;
}
my-menu-button /deep/ #dropdown {
    max-height: 100px;
    height: auto !important;
    overflow: hidden !important;
    top: 0;
    bottom: auto !important;
    box-shadow: 0 0 5px #5C5C5C;
}
.user-nav {
    margin: 0;
    border-top: 1px solid #eee;
}
/* list container */

.list-container {
    padding: 20px;
}
video-item {
    display: block;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
}
video-item::shadow .video-item {
    border-radius: 4px;
}
video-item::shadow .video-item .poster img {
    border-radius: 4px 0 0 4px;
}