core-scaffold {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #777;
}
core-scaffold .w-100, core-scaffold /deep/ .w-100 {
    width: 100%;
}
core-scaffold .rounded, core-scaffold /deep/ .rounded {
    border-radius: 2px;
}
core-scaffold /deep/ .hide-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
core-scaffold core-header-panel core-toolbar {
    background-color: #78909C;
    color: #fff;
}
core-scaffold /deep/ #headerPanel core-toolbar {
    background-color: #607D8B;
}
.menu /deep/ core-icon {
    color: #607D8B;
}
.menu paper-item.core-selected {
    background-color: #EEE;
    border-left: 2px solid #FB8C00;
}
core-scaffold /deep/ .padding-10 {
    padding: 10px;
}
core-scaffold /deep/ .padding-20 {
    padding: 20px;
}
video-item::shadow .video-item {
    margin-bottom: 10px;
}
paper-button {
    background: #EF6C00;
    color: #fff;
}
paper-spinner {
    margin-bottom: -6px;
}
.item {
    background-color: #FFD740;
    margin-bottom: 10px;
    color: #333;
}
.file-path {
    white-space: initial;
}
.dialog {
    font-weight: 600;
}