core-scaffold, .login-main {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #777;
}
core-scaffold /deep/ input, .login-main /deep/ input {
    font-weight: 400;
}
core-scaffold .w-100, core-scaffold /deep/ .w-100, .login-main .w-100 {
    width: 100%;
}
core-scaffold .rounded, core-scaffold /deep/ .rounded {
    border-radius: 2px;
}
core-scaffold /deep/ .hide-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
core-scaffold core-header-panel core-toolbar {
    background-color: #78909C;
    color: #fff;
}
core-scaffold /deep/ #headerPanel core-toolbar {
    background-color: #607D8B;
}
.menu /deep/ core-icon {
    color: #607D8B;
}
.menu paper-item.core-selected {
    background-color: #EEE;
    border-left: 2px solid #FB8C00;
}
core-scaffold /deep/ .padding-10 {
    padding: 10px;
}
core-scaffold /deep/ .padding-20 {
    padding: 20px;
}
video-item::shadow .video-item {
    margin-bottom: 10px;
}
paper-button {
    background: #EF6C00;
    color: #fff;
}
paper-spinner {
    margin-bottom: -6px;
}
.item {
    background-color: #FFD740;
    margin-bottom: 10px;
    color: #333;
}
.file-path {
    white-space: initial;
}
.dialog {
    font-weight: 600;
}
/* login */
.login-main {
    font-size: 20px;
}
.login-main .header {
    font-size: 2em;
    color: #FF8800;
    font-weight: lighter;
    z-index: 1;
}
.login-main .message {
    color: #F44336;
    z-index: 1;
}
.login-main .bg {
    background-color: #eee;
}
.login-main .main {
    margin: 0 auto;
    margin-top: 64px;
    max-height: 580px;
    max-width: 512px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 2px;
    background-color: #fff;
}
.login-check {
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 300ms, background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 300ms, background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.login-check[showing] {
    -webkit-transform: none;
    transform: none;
}