.video-player-wrapper {
    background-color: #000;
    overflow: hidden;
}
paper-slider::shadow #sliderBar::shadow #activeProgress {
    background-color: #FB8C00;
}
paper-slider::shadow #sliderKnobInner {
    background-color: #FB8C00;
}
core-item[icon="settings-remote"]::shadow core-icon {
    color: #FB8C00;
}
.player-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: -5px;
}
.mask-control {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: -5px;
}
core-icon.icon-caption.on, .mask-control core-icon.icon-cast, .mask-control core-icon.icon-volume, .mask-control core-icon.icon-play {
    color: #FF9500;
}
core-icon.icon-fullscreen, core-icon.icon-caption {
    color: #fff;
}
.video, .progress-block, #progress {
    width: 100%;
}
.control-icon, .volume-slider, .progress-block {
    position: absolute;
}
.control-icon {
    top: 50%;
}
.icon-play {
    left: 50%;
    margin-left: -2em;
    margin-top: -2em;
}
.icon-play, .icon-play svg {
    width: 4em;
    height: 4em;
}
.icon-cast {
    top: 10px;
    right: 10px;
}
.icon-next, .icon-next svg, .icon-prev, .icon-prev svg {
    width: 2em;
    height: 2em;
}
.icon-volume {
    top: 10px;
    left: 10px;
}
.volume-slider {
    top: 6px;
    left: 30px;
    opacity: 0;
    width: 0px;
    -webkit-transition: width .2s ease-in-out;
    -moz-transition: width .2s ease-in-out;
    -ms-transition: width .2s ease-in-out;
    -o-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
}
.volume-slider.show, .volume-slider:hover, .volume-slider:focus {
    opacity: 1;
    width: 200px;
    -webkit-transition: width .2s ease-in-out;
    -moz-transition: width .2s ease-in-out;
    -ms-transition: width .2s ease-in-out;
    -o-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
}
.progress-block {
    bottom: 0;
    text-align: center;
}
.mask-control {
    color: #fff;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}
.pausing.mask-control {
    opacity: .7;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}
.playing.mask-control:hover {
    opacity: .7;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}
.playlist-wrapper {
    color: #eee;
}
.playlist-control {
    padding: 10px;
    background-color: #333;
    width: 100%;
}
.playlist {
    background-color: #222;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.a-video {
    width: 100%;
    border-bottom: 1px solid #282828;
}
.a-video .name {
    padding-top: 5px;
}
.a-video .thumbnail {
    padding-right: 10px;
}
.a-video .thumbnail, .a-video .thumbnail img {
    width: 70px;
}
.a-video .remove, .a-video .play-this {
    width: 40px;
}
.a-video .remove /deep/ core-icon, .a-video .play-this /deep/ core-icon {
    fill: #eee;
}
.a-video.active {
    background-color: #171717;
}
.dialog {
    position: fixed;
    width: 50%;
    text-align: center;
}
.removed {
    -webkit-animation: disapear .5s;
    -webkit-animation-fill-mode: forwards;
    animation: disapear .5s;
    animation-fill-mode: forwards;
}
@-webkit-keyframes disapear {
    50% {
        -webkit-transform: translateX(-5%);
        transform: translateX(-5%);
    }
    100% {
        -webkit-transform: translateX(200%);
        transform: translateX(200%);
    }
}
@keyframes disapear {
    50% {
        -webkit-transform: translateX(-5%);
        transform: translateX(-5%);
    }
    100% {
        -webkit-transform: translateX(200%);
        transform: translateX(200%);
    }
}