<link rel="import" href="../bower_components/polymer/polymer.html">
<!-- <link rel="import" href="../bower_components/font-roboto/roboto.html"> -->
<!-- import components -->
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../bower_components/core-scaffold/core-scaffold.html">
<link rel="import" href="../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../bower_components/core-selector/core-selector.html">
<link rel="import" href="../bower_components/core-item/core-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/core-icons/core-icons.html">
<link rel="import" href="../bower_components/core-icons/av-icons.html">
<link rel="import" href="../bower_components/core-icons/hardware-icons.html">
<link rel="import" href="../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../bower_components/core-animated-pages/transitions/slide-from-right.html">
<link rel="import" href="../bower_components/core-animated-pages/transitions/list-cascade.html">
<link rel="import" href="../bower_components/core-menu/core-menu.html">
<link rel="import" href="../bower_components/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/polymer-cookie/polymer-cookie.html">

<!-- my components -->
<link rel="import" href="../components/video-item.html">
<link rel="import" href="../components/my-menu-button.html">
<link rel="import" href="../components/video-player.html">


<polymer-element name="main-screen" attributes="menuTitle appName">

    <template id="mainScreen">

        <link rel="stylesheet" href="../assets/css/main-screen.css">

        <!-- mode waterfall-tall will show large header -->
        <core-ajax id="data_hometime" auto url="/app" response="{{data}}" handleAs="json"></core-ajax>

        <core-scaffold mode="{{modes[currentMode]}}" responsiveWidth="600px">

            <!-- leftbar -->
            <core-header-panel navigation flex>
                <core-toolbar>
                    <span flex class="menu-title">{{menuTitle}}</span>
                </core-toolbar>

                <core-selector id="menu" class="menu" selected="{{currentList}}" on-core-select="{{selectMenu}}">
                    <template repeat="{{l, index in data.library}}">
                        <paper-item class="smooth-trans" label="{{l.label}}" icon="{{l.icon}}">
                            <core-ajax class="my-ajax" url="{{l.dataUrl}}" auto handleAs="json" response="{{allVideos[index]}}" on-core-response="{{parse}}"></core-ajax>
                        </paper-item>
                    </template>
                </core-selector>
                <core-menu class="user-nav">
                    <template if="{{!loggedIn}}">
                        <paper-item icon="account-circle" label="Login" on-tap="{{toggleLogin}}"></paper-item>
                    </template>
                    <template if="{{loggedIn}}">
                        <paper-item icon="send-money" label="Sign Out" on-tap="{{logout}}"></paper-item>
                    </template>
                </core-menu>

            </core-header-panel>


            <!-- toolbar -->
            <template if="{{currentMode}}">
                <core-icon-button tool on-tap="{{gotoList}}" icon="arrow-back"></core-icon-button>
            </template>
            <div flex tool class="font-800">{{appName}}</div>


            <!-- change mode menu -->
            <my-menu-button tool class="more-menu" icon="more-vert" selected="{{currentMode}}" valign="top" halign="right">
                <paper-item icon="list" label="Playlist"></paper-item>
                <paper-item icon="av:queue" label="Playing"></paper-item>
            </my-menu-button>

            <!-- content -->
            <div fit class="content">
                <core-animated-pages selected="{{currentMode}}" transitions="slide-from-right" style="min-height: 100%;">

                    <!-- Mode: listing videos -->
                    <section layout vertical style="background-color: #eee;">

                        <div flex>

                            <core-animated-pages selected="{{currentList}}" transitions="list-cascade">


                                <!-- video list -->
                                <template id="lister" is="auto-binding" bind="{{videoLibrary}}" repeat="{{videos, index in videoLibrary}}">

                                    <section layout vertical class="list-container">

                                        <div flex slide-up list-cascade>

                                            <template repeat="{{ v in videos }}">

                                                <video-item video="{{v}}" queues="{{queues}}" mode="{{currentMode}}"></video-item>

                                            </template>

                                        </div>

                                    </section>

                                </template>

                            </core-animated-pages>

                        </div>
                    </section>
                    <!-- end video listing -->

                    <!-- Mode: Video player -->
                    <section style="background-color: #333;">
                        <video-player queues="{{queues}}"></video-player>
                    </section>
                    <!-- #end video player -->



                </core-animated-pages>
            </div>

        </core-scaffold>
        <!-- login -->
        <div id="login_main" hidden cross-fade-delayed class="login-main">
            <div class="bg" fit dummy cross-fade>
                <paper-fab class="btn-close-login" icon="close" on-tap="{{toggleLogin}}"></paper-fab>
            </div>
            <div class="main" layout vertical slide-up-offscreen>
                <div class="header">Sign In</div>
                <div class="message"><small>{{loginMessage}}</small>
                </div>
                <paper-input label="Email" id="u_email" type="email" class="w-100"></paper-input>
                <paper-input label="Password" id="u_password" type="password" class="w-100"></paper-input>
                <div horizontal center layout>
                    <div flex></div>
                    <paper-fab id="login_check" class="login-check" icon="check" showing?="{{$.u_email.value.length && $.u_password.value.length}}" on-tap="{{login}}"></paper-fab>
                </div>
            </div>
            <!-- post ajax login -->
            <core-ajax contentType="application/json" id="ajax_login" method="POST" url="/login" on-core-response="{{handleLogin}}">
            </core-ajax>
        </div>

        <!-- user cookie -->
        <polymer-cookie id="cookie_user" name="cookieUser"></polymer-cookie>
    </template>

    <script>
    Polymer("main-screen", {

        loggedIn: false,

        loginMessage: '',

        modes: ["waterfall-tall", "seamed"],

        currentMode: 0,

        currentCategory: 0,

        currentList: 0,

        allVideos: [],

        // playing list:
        queues: [],

        totalResponse: 0,

        ready: function() {

            var self = this;

            window.__self = this;

            this.loggedIn = this.$.cookie_user.isCookieStored();

            this.lister = this.$.lister;

            // get playing data from HTML5 localStorage
            if (typeof(Storage) !== "undefined") {

                var retriveData = JSON.parse(localStorage.getItem('hometimeQueues'));

                if (retriveData != null) {

                    self.queues = retriveData;
                }
            }

            this.parse = function(e) {

                self.totalResponse += 1;

                if (self.totalResponse == self.data.library.length) {

                    self.bindVideos();

                };

            };

            this.bindVideos = function() {

                self.lister.model = {

                    videoLibrary: self.allVideos

                }

            };

            this.log = function(e) {

                console.log(e.detail);
            };

            this.selectMenu = function(e) {

                if (e.detail.isSelected && self.currentMode == 1) {

                    self.currentMode = 0;
                };
            };


            // save playing list to HTML5 localStorage, no lost after close browser
            var savePlayingData = function() {

                localStorage.setItem('hometimeQueues', JSON.stringify(self.queues));

                return null;
            }

            window.onclose = savePlayingData;

            window.onbeforeunload = savePlayingData;
        },

        toggleLogin: function() {
            this.$.login_main.hidden = !this.$.login_main.hidden;
        },

        logout: function() {
            this.$.cookie_user.deleteCookie();
            this.loggedIn = false;
            this.toggleLogin();
        },

        login: function() {

            var data = {
                email: this.$.u_email.value,
                password: this.$.u_password.value
            };

            this.$.ajax_login.body = JSON.stringify(data);
            this.$.ajax_login.go();
        },

        handleLogin: function(e) {

            var res = JSON.parse(e.detail.response);

            if (res.error) {
                this.loginMessage = 'Email or password you entered is incorrect';
                this.$.login_main.hidden = false;
                this.$.cookie_user.deleteCookie();
                this.$.loggedIn = false;

            } else if (res.user) {
                var cookie = this.$.cookie_user;
                cookie.value = res.user.email;
                cookie.save();
                this.loggedIn = true;
                this.$.login_main.hidden = true;
            }
        },

        gotoList: function() {
            this.currentMode = 0;
        }
    });
    </script>

</polymer-element>