<link rel="import" href="../bower_components/polymer/polymer.html">
<!-- import components -->
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../bower_components/core-scaffold/core-scaffold.html">
<link rel="import" href="../bower_components/core-selector/core-selector.html">
<link rel="import" href="../bower_components/core-item/core-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/core-icons/core-icons.html">
<link rel="import" href="../bower_components/core-icons/hardware-icons.html">
<link rel="import" href="../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../bower_components/core-animated-pages/transitions/slide-from-right.html">
<link rel="import" href="../bower_components/core-menu/core-menu.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">


<!-- my components -->
<link rel="import" href="../components/video-item-edit.html">


<polymer-element name="media-manager">

    <template id="mainScreen">

        <link rel="stylesheet" href="../assets/css/media-manager.css">

        <core-ajax id="data_hometime" auto url="/app" response="{{data}}" handleAs="json"></core-ajax>

        <core-scaffold responsiveWidth="600px">

            <!-- leftbar -->
            <core-header-panel navigation flex>
                <core-toolbar>
                    <span flex class="menu-title">Select a library</span>
                </core-toolbar>
                <core-selector id="menu" class="menu" selected="{{currentList}}" on-core-select="{{}}">
                    <template repeat="{{l, index in data.library}}">
                        <paper-item label="{{l.label}}" icon="{{l.icon}}">
                            <core-ajax url="{{l.dataUrl}}" auto handleAs="json" response="{{allVideos[index]}}" on-core-response="{{parse}}"></core-ajax>
                        </paper-item>
                    </template>
                </core-selector>
            </core-header-panel>


            <!-- toolbar -->
            <template if="{{currentMode === 1}}">
                <core-icon-button tool on-tap="{{prevMode}}" icon="arrow-back"></core-icon-button>
            </template>
            <div flex tool class="font-800">Manager <b>{{data.library[currentList].label}}</b> List</div>
            <template if="{{currentMode === 0}}">
                <core-icon-button tool on-tap="{{nextMode}}" icon="arrow-forward"></core-icon-button>
            </template>

            <!-- content -->
            <div fit class="content">
                <core-animated-pages selected="{{currentMode}}" transitions="slide-from-right">
                    <!--  -->
                    <section>
                        <div cross-fade>
                            <h2>
                                <paper-spinner id="spinner"></paper-spinner>
                                Scan new media files in <b>{{data.library[currentList].label}}</b>
                            </h2>
                            <!-- ajax get to scan new media files -->
                            <core-ajax id="ajax_scan" method="GET" url="/scan/{{data.library[currentList].dataUrl}}" handleAs="json" response="{{newVideos}}" on-core-response="{{handleScanRespone}}"></core-ajax>
                            <!-- call ajax -->
                            <paper-button id="btn_scan" on-tap="{{scanFiles}}" raised>
                                <core-icon icon="search"></core-icon> Scan
                            </paper-button>

                            <template repeat="{{v in newVideos}}">
                                <div class="item">
                                    {{v.ori}}
                                </div>
                                <div>
                                    {{v.indexed}}
                                </div>
                            </template>

                        </div>
                    </section>
                    <!--  -->
                    <section>
                        <div cross-fade>
                            <core-animated-pages selected="{{currentList}}" transitions="cross-fade" style="min-height: 100%;">
                                <template id="lister" is="auto-binding" bind="{{videoLibrary}}" repeat="{{videos, index in videoLibrary}}">
                                    <!-- Mode: listing videos -->
                                    <section layout vertical style="background-color: #eee;">
                                        <div cross-fade>
                                            <template repeat="{{ v in videos }}">
                                                <video-item video="{{v}}" queues="{{queues}}" icon="create"></video-item>
                                            </template>
                                        </div>
                                    </section>
                                </template>
                            </core-animated-pages>
                        </div>
                    </section>

                </core-animated-pages>
            </div>
        </core-scaffold>
    </template>

    <script>
    Polymer("media-manager", {

        currentMode: 0,

        allVideos: [],

        currentList: 0,

        totalResponse: 0,

        nextMode: function() {

            this.currentMode = 1;
        },

        prevMode: function() {

            this.currentMode = 0;
        },

        scanFiles: function() {

            this.$.spinner.active = true;

            this.$.btn_scan.disabled = true;

            this.$.ajax_scan.go();
        },

        handleScanRespone: function(e) {

            window.res = e.detail.response;

            this.$.spinner.active = false;

            this.$.btn_scan.disabled = false;

        },

        ready: function() {

            var self = this;

            window.self = self;

            this.lister = this.$.lister;

            this.parse = function(e) {

                self.totalResponse += 1;

                if (self.totalResponse == self.data.library.length) {

                    self.bindVideos();

                };

            };

            this.bindVideos = function() {

                self.lister.model = {

                    videoLibrary: self.allVideos

                }

            };
        }
    });
    </script>

</polymer-element>