<link rel="import" href="../bower_components/polymer/polymer.html">
<!-- import components -->
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../bower_components/core-scaffold/core-scaffold.html">
<link rel="import" href="../bower_components/core-selector/core-selector.html">
<link rel="import" href="../bower_components/core-item/core-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/core-icons/core-icons.html">
<link rel="import" href="../bower_components/core-icons/hardware-icons.html">
<link rel="import" href="../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../bower_components/core-animated-pages/transitions/slide-from-right.html">
<link rel="import" href="../bower_components/core-menu/core-menu.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog/paper-action-dialog.html">
<link rel="import" href="../bower_components/core-overlay/core-overlay.html">
<link rel="import" href="../bower_components/core-transition/core-transition-css.html">
<!-- my components -->
<link rel="import" href="../components/video-item-edit.html">

<!-- xdialog elelement -->
<!-- a simple dialog element made with core-overlay -->
<polymer-element name="x-dialog" attributes="opened autoCloseDisabled">
    <template>
        <core-overlay id="overlay" layered backdrop opened="{{opened}}" autoCloseDisabled="{{autoCloseDisabled}}" transition="core-transition-center"></core-overlay>
        <content></content>
    </template>
    <script>
    Polymer('x-dialog', {
        ready: function() {
            this.$.overlay.target = this;
        },

        toggle: function() {
            this.$.overlay.toggle();
        }
    });
    </script>
</polymer-element>
<!--  -->
<polymer-element name="media-manager">

    <template id="mainScreen">

        <link rel="stylesheet" href="../assets/css/media-manager.css">

        <core-ajax id="data_hometime" auto url="/app" response="{{data}}" handleAs="json"></core-ajax>

        <core-scaffold responsiveWidth="600px">

            <!-- leftbar -->
            <core-header-panel navigation flex>
                <core-toolbar>
                    <span flex class="menu-title">Select a library</span>
                </core-toolbar>
                <core-selector id="menu" class="menu" selected="{{currentList}}" on-core-select="{{}}">
                    <template repeat="{{l, index in data.library}}">
                        <paper-item label="{{l.label}}" icon="{{l.icon}}">
                            <core-ajax url="{{l.dataUrl}}" auto handleAs="json" response="{{allVideos[index]}}" on-core-response="{{parse}}"></core-ajax>
                        </paper-item>
                    </template>
                </core-selector>
            </core-header-panel>


            <!-- toolbar -->
            <template if="{{currentMode === 1}}">
                <core-icon-button tool on-tap="{{prevMode}}" icon="arrow-back"></core-icon-button>
            </template>
            <div flex tool class="font-800">Manager <b>{{data.library[currentList].label}}</b> List</div>
            <template if="{{currentMode === 0}}">
                <core-icon-button tool on-tap="{{nextMode}}" icon="arrow-forward"></core-icon-button>
            </template>

            <!-- content -->
            <div fit class="content">
                <core-animated-pages selected="{{currentMode}}" transitions="slide-from-right">

                    <section>
                        <div cross-fade>
                            <core-animated-pages selected="{{currentList}}" transitions="cross-fade" style="min-height: 100%;">
                                <template id="lister" is="auto-binding" bind="{{videoLibrary}}" repeat="{{videos, i in videoLibrary}}">
                                    <!-- Mode: listing videos -->
                                    <section layout vertical style="background-color: #eee;" class="padding-10">
                                        <div cross-fade>
                                            <template repeat="{{ v, j in videos }}">
                                                <video-item libIndex="{{i}}" vidIndex="{{j}}" on-toggle-editor="{{toggleEditor}}" video="{{v}}" icon="create"></video-item>
                                            </template>
                                        </div>
                                    </section>
                                </template>
                            </core-animated-pages>
                        </div>
                    </section>
                    <!--  -->
                    <section>
                        <div cross-fade layout vertical>
                            <section class="padding-10 header">
                                <h2>
                                Scan new media files in <b>{{data.library[currentList].label}}</b>
                                <paper-spinner id="edit_spinner"></paper-spinner>
                            </h2>
                                <!-- ajax get to scan new media files -->
                                <core-ajax id="ajax_scan" method="GET" url="/scan/{{data.library[currentList].dataUrl}}" handleAs="json" response="{{newVideos}}" on-core-response="{{handleScanRespone}}"></core-ajax>
                                <!-- call ajax -->
                                <paper-button id="btn_scan" on-tap="{{scanFiles}}" raised>
                                    <core-icon icon="search"></core-icon> Scan
                                </paper-button>
                                <paper-shadow z="1"></paper-shadow>
                            </section>
                            <section flex class="padding-10">
                                <template repeat="{{v in newVideos}}">
                                    <div class="item padding-10 rounded">
                                        <div class="w-100 hide-overflow">
                                            <div class="file-path">
                                                <strong>File path: </strong> {{v.ori}}
                                            </div>
                                            <div>
                                                <strong>Indexed: </strong><a target="_blank" href="/media/{{v.indexed}}?V" title="">{{v.indexed}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </section>
                        </div>
                    </section>
                    <!--  -->

                </core-animated-pages>
            </div>
            <!-- modal -->
            <paper-action-dialog class="dialog" id="scan_dialog" backdrop autoCloseDisabled layered="false" transition="core-transition-center">
                <p>
                    {{dialogMessage}}
                </p>
                <paper-button affirmative autofocus>Close</paper-button>
            </paper-action-dialog>
        </core-scaffold>
        <!-- poup -->
        <x-dialog id="edit_dialog" class="dialog">
            <!-- place all overlay styles inside the overlay target -->
            <style no-shim>
            .dialog {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 13px;
                -webkit-user-select: none;
                -moz-user-select: none;
                overflow: hidden;
                background: white;
                padding: 30px 42px;
                outline: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
            }
            #dialog {
                width: 500px;
            }
            core-icon[icon="done"] {
                color: #4CAF50;
            }
            core-icon[icon="close"] {
                color: #FF5252;
            }
            </style>
            <h2>Edit video</h2>
            <div layout horizontal>
                <div flex>
                    <paper-input value="" label="First Name" id="input_title" class="w-100"></paper-input>
                    <paper-input value="" label="Video description" id="input_description" maxlength="255" class="w-100" multiline></paper-input>
                </div>
                <div>
                    <paper-spinner id="spinner"></paper-spinner>
                </div>
                <core-overlay layered id="confirmation" class="dialog" backdrop transition="core-transition-top">
                    <!-- place all overlay styles inside the overlay target -->
                    <style no-shim>
                    .dialog {} #confirmation {}
                    </style>
                    Thank you.
                </core-overlay>
            </div>
            <br>
            <br>
            <!-- post ajax -->
            <core-ajax contentType="application/json" id="ajax_save" method="POST" url="/m/save" on-core-response="{{handleResponseSave}}">
            </core-ajax>
            <!-- end post ajax -->
            <paper-button on-tap="{{saveEdit}}">
                <core-icon icon="done"></core-icon> SAVE
            </paper-button>
            <paper-button on-tap="{{toggleEditor}}">
                <core-icon icon="close"></core-icon> CANCEL
            </paper-button>
        </x-dialog>
    </template>

    <script src="../assets/js/video.manager.js"></script>

</polymer-element>