<link rel="import" href="../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/core-tooltip/core-tooltip.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<!-- mines -->
<link rel="import" href="../components/video-item-edit-script.html">

<polymer-element name="video-item" attributes="video libIndex vidIndex" noscript>
    <template>
        <link rel="stylesheet" href="../assets/css/video-item.css">
        <div id="video_item" class="video-item">
            <div layout horizontal>
                <div class="poster">
                    <img src="{{video.poster}}">
                </div>
                <div flex class="detail">
                    <div vertical layout>
                        <div>
                            <div class="vidname">{{video.title}}</div>
                        </div>

                        <div horizontal layout class="h-100 w-100">
                            <div flex>
                                <div flex class="description">
                                    {{video.description}}
                                </div>
                                <small>date added: {{video.addTime}}</small>
                            </div>
                            <div layout vertical>
                                <div flex></div>
                                <core-tooltip label="Edit this video" class="fancy">
                                    <paper-fab on-tap="{{toggleEditor}}" icon="create" mini="true"></paper-fab>
                                </core-tooltip>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <paper-shadow z="1"></paper-shadow>
        </div>
    </template>
</polymer-element>